<div class="container">
<%= form_for @user do |f| %>
  <div class="form-group">
    <label for="exampleFormControlInput1">Usuario</label>
    <%= f.text_field :username, class: 'form-control', required: true %>
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">Email</label>
    <%= f.email_field :email, class: 'form-control', required: true %>
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">Contraseña</label>
    <%= f.password_field :password, class: 'form-control', required: true %>
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">Confirmación de contraseña</label>
    <%= f.password_field :password_confirmation, class: 'form-control', required: true %>
  </div>
  <%= f.submit %>
<% end %>
</div>